{% extends 'layout.html' %}
{% load static %}

{% block head %}
<title>Multiple Vehicle Automatic Number Plate Recognition</title>
{% endblock %}

{% block body %}
<main class="center-align">
  <h2>Multiple Vehicle Automatic Number Plate Recognition</h2>
  <div class="card">
    <div class="card-content">
      <span class="card-title">Upload Video</span>
      <p>
        <form action="">
          <input type="file" accept="video/mp4,video/x-m4v,video/*" name="" id="">
        </form>
      </p>
    </div>
  </div>
</main>
{% endblock %}